{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>{{ city }}</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-3 border-end">
            <p class="text-muted">Input options to predict water usage</p>
            <form method="POST" action="{{ url_for('predict') }}">
                <div class="mb-3">
                    <label for="exampleDataList" class="form-label">Ward</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList"
                        placeholder="Type to search...">
                    <datalist id="datalistOptions">
                        <option value="Dam Estate">
                        <option value="Freedom Heights">
                        <option value="Highrise">
                        <option value="Kilimani">
                        <option value="Kileleshwa">
                        <option value="Lavington">
                        <option value="Madaraka">
                        <option value="Otiende">
                    </datalist>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Month</label>
                    <input class="form-control" type="month" name="month" placeholder="month" />
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>

            <!-- <h1>Upload Contribution</h1>
                <form method="POST" action="{{ url_for('contribute') }}" enctype="multipart/form-data">
                    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheet, application/vnd.ms-excel" />
                    <input type="submit" value="Upload" />
                </form> -->
        </div>
        <div class="col-12 col-md-8 px-3 g-3">
            <div class="row flex-column">
                <div class="col-12">
                    <iframe src="{{ map_url }}" width="100%" height="400px" style="border:none;"></iframe>
                    <!-- <img class="img-fluid"
                        src="https://cdn.sketchbubble.com/pub/media/catalog/product/optimized1/b/4/b48995b5fe7300b939581e9b4b81f49977060b430bdfa2a2d2d1f858607b7de3/nairobi-map-slide1.png"
                        alt="Nairobi Map" /> -->
                </div>
                <div class="col-12 d-flex justify-content-between">
                    <div class="table-responsive-sm">
                        <table class="table table-sm table-striped border-primary table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive-sm">
                        <table class="table table-sm table-striped border-success table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}